# Core Frameworks
langchain
langchain-community
langchain-huggingface
langchain_openai
langchain-nvidia-ai-endpoints
langchain_google_genai
langserve[all]
langchain_chroma
transformers
sentence_transformers
openai
tiktoken
fastapi
uvicorn
pydantic
pytest

# Data & Vector DB
chromadb
pymupdf4llm
fastf1
pandas

# UI
gradio
streamlit
python-dotenv